.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}
.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 5px;
  border-radius: 26px;
}